<!-- templates/edit_profile.html -->
{% extends 'base.html' %}


{% block title %}edit profile{% endblock %}

{% block content %}
  <h2>edit profile</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">register</button>
  </form>
{% endblock %}







