<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p>Username: {{ user }}</p>
<p>your email is: {{ user.email }}</p>
  <p><a href="{% url 'logout' %}">logout</a></p>
<p><a href="{% url 'edit_profile' %}">edit your profile</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}